body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.color-name{
    color: coral;
}
section{
    display: flex;
}
.half{
    width: 50%;
    padding-left: 3%;
}
.half img{
    width: 80%;
}